head,
body {
    background-color: white;
    background-size: cover;
    padding: 0;
    margin: 0;
    max-width: 1920px;
}

boxmodel {
    background-color: #f5f5f5;
    width: 300px;
    height: 486px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #707070;
    border-radius: 25px;
}

button {
    background-color: white;
    width: 60px;
    height: 60px;
    border: 1px solid #707070;
    border-radius: 12px;
    margin: 2px 4px 2px 15px;
    margin-top: 130px;
    color: #707070;
    font-size: 20px;
}

.btn {
    background-color: white;
    width: 60px;
    height: 60px;
    border: 1px solid #707070;
    border-radius: 12px;
    margin: 2px 4px 2px 15px;
    color: #707070;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#bk {
    background-color: #ffc928;
}

#res {
    background-color: #1de9b6;
}

line {
    display: block;
    width: 240px;
    height: 2px;
    background-color: #707070;
    text-align: center;
    margin: 14px auto;
}

sum {
    display: block;
    margin: 16px 30px auto;
    font-size: 25px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

res {
    display: block;
    margin: -11px 30px auto;
    font-size: 35px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

result {
    background-color: white;
    width: 300px;
    height: 120px;
    display: block;
    border-radius: 25px;
    border: 1px solid #707070;
    margin: -489px auto;
}